* {
  margin: 0;
  padding: 0
}

html {
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  min-height: 8em;
  background-color: skyblue
}

main {
  flex: 1 0 auto;
  background-color: azure
}

footer {
  min-height: 4em;
  text-align: center;
  background-color: skyblue
}


