* {
  margin: 0;
  padding: 0
}

html {
  
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Roboto, Nunito, sans-serif
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
  text-align: center;
  padding: 16px 0
}

#title {
  font-family: Roboto
}

#sub-title {
  font-family: Nunito
}

main {
  flex: 1 0 auto;
  background-color: azure
}

#img-div {
  display: flex;
  flex-direction: column;
  max-height: 320px;
  padding: 24px 0
}

#img-div a {
  text-align: center
}

#image {
  margin: 0 auto;
  max-height: 320px;
  max-width: 25%;
  border: 2px skyblue solid;
  border-radius: 8px;
  overflow: hidden
}

#img-caption {
  text-align: center
}

#tribute-info {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 720px;
  font-size: 16px;
}

#tribute-info ul {
  margin: 0 auto
}

#tribute-link {
  margin: 12px auto
}

a:link,
a:visited {
  color: navy
}

footer {
  min-height: 4em;
  padding: 32px 0;
  background-color: skyblue
}

footer nav {
  margin: 8px auto
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none
}

footer ul li {
  margin: 4px;
  margin: auto 8px;
  display: inline-block;
}

footer a:link,
footer a:visited {
  color: black
}
footer h4 {
  margin: auto;
  text-align: center
}

@media screen and (max-width: 360px) {
  #tribute-info ul {
    font-size: 14px
  }
}
