* {
  margin: 0;
  padding: 0
}

html {
  
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Roboto, Nunito, sans-serif
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
  text-align: center;
  padding: 16px 0
}

#title {
  font-family: Roboto
}

#sub-title {
  font-family: Nunito
}

main {
  flex: 1 0 auto;
  background-color: azure
}

#img-div {
  display: flex;
  flex-direction: column;
  max-height: 360px;
  padding: 24px 0
}

#image {
  margin: 0 auto;
  max-height: 360px;
  max-width: 25%;
  border: 2px skyblue solid;
  border-radius: 8px;
  overflow: hidden
}

#img-caption {
  text-align: center
}

#tribute-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 720px
}

#tribute-info * {
  margin: 0 auto
}

footer {
  display: flex;
  min-height: 4em;
  flex-direction: column;
  align-content: center;
  background-color: skyblue
}

footer ul {
  list-style: none
}

footer ul li {
  margin: 4px;
  display: inline-block;
}

footer * {
  margin: auto;
  text-align: center
}
